<%= simple_form_for([@projeto, @projeto.comentarios.build]) do |f| %>
	<div id="rating-form">
		<label>avaliação</label>
	</div>
	<%= f.input :texto %>
	<%= f.button :submit, :class => "btn-custom2" %>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>
