
      <div class="container my-auto">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Editando o Projeto</strong>
            </h1>
            <hr>

<%= render 'form' %>
<br>
<br>
<hr>
<a  class= "btn btn-secondary btn-xl js-scroll-trigger" href="javascript:history.back()" >Voltar</a>


<% prox_pagina = "../../projetos/"+@projeto.id.to_s%>
<a class="btn btn-secondary btn-xl js-scroll-trigger" href=<%=prox_pagina %>>Visualizar seu projeto</a>
<br>
<br>
</div>

</div>
