
      <div class="container my-auto">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Editando o Projeto</strong>
            </h1>
            <hr>

<%= render 'form' %>
<br>
<br>
<hr>
<%= link_to "Voltar para projetos", projetos_path(@projeto), class: "btn btn-primary btn-xl js-scroll-trigger" %>
<%if usuario_signed_in?%>
  <%if current_usuario.desenvolvedor%>
    <%= link_to "Meus projetos", perfil_path(@projeto), class: "btn btn-primary btn-xl js-scroll-trigger" %>
  <%end%>
<%end%>

<% prox_pagina = "../../projetos/"+@projeto.id.to_s%>
<a class="btn btn-primary btn-xl js-scroll-trigger" href=<%=prox_pagina %>>Visualizar seu projeto</a>
<br>
<br>
</div>

</div>
