
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Editando o Projeto</strong>
            </h1>

<%= render 'form', projeto: @projeto %>

<%= link_to 'visializar', @projeto %>
<br>
<br>
<br>
<a class="btn btn-primary btn-xl js-scroll-trigger" href="/projetos">Projetos</a>
</div>
</div>
</div>
