<div class="container my-auto">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-uppercase">
        <strong>Novo Projeto</strong>
      </h1>
      <hr>
<%= render 'form', projeto: @projeto %>

<br>
<br>
<br>
<hr>
<a  class= "btn btn-secondary btn-xl js-scroll-trigger" href="javascript:history.back()" >Voltar</a>

<br>
<br>
<br>
</div>

</div>
