<div class="container my-auto">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-uppercase">
        <strong>Novo Projeto</strong>
      </h1>
<%= render 'form', projeto: @projeto %>

<br>
<br>
<br>
<a class="btn btn-primary btn-xl js-scroll-trigger" href="/projetos">Voltar para Projetos</a>
<br>
<br>
<br>
</div>

</div>
