<h1>EP3</h1>
<p>Esta é a pagina inicial do projeto</p>

<% if logged_in? %>
  <p>Você está logado!</p>
<%else%>
  <p>Você está ofline! Faça o <%=link_to 'loggin', new_usuario_registration_path%></p>
<%end%>
