<% unless current_usuario == @usuario %>
  <div id="follow_form">
  <% if current_usuario.following?(@usuario) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
